@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Plus+Jakarta+Sans:wght@500;700&family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");

$main-font-family: "Plus Jakarta Sans", sans-serif;
$wrapper-background-color: rgba(186, 233, 255, 0.623);
$main-background-color: rgba(255, 255, 255, 0.959);
$border-color: #bd828227;
